input{
    width:100%;
}
form{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: left;
    padding: 30px;
    background-color: rgb(235, 244, 240);
    
    height:500px;

}
body{
    background:url(https://i.pinimg.com/originals/69/c4/68/69c468dfbdcfa72dbe0f344e506f6a0f.png);
}
body .sub-body {
    position: relative;
    z-index: 1;
}

body::before{
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(207, 246, 207, 0.35);
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.a{
    margin: 30px 10px 20px 10px;
    margin-top: -5%;
}
h3{
    text-align: center;
    margin-top: 5%;
    font-family: 'Open Sans';font-size: 250%;
}
.b{
    margin:20px 10px 10px 10px;
}
button{

    background-color: rgb(181, 213, 181);
    border-radius: 9px;
    height: 30px;
    width:100px;
    color:black;
    margin-top:300px;
    margin:30px 70px 30px 100px;
    display: inline-block;

}
.c{
    margin-top: -5%;
    margin-left: 10%;
}
.d{
    margin-top: -35%;
    margin-left: 20%;
    display: inline-block;
}
a{
    font-family:cursive;
    color:darkgreen;
    text-decoration: none;
}
.e{
    margin: 20px 10px 10px 10px;
}
.f{
    margin: 20px 10px 30px 10px;
}